<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment.html :: cabecera"> </head>
    <body>
        <div th:replace="fragment.html :: navbar"></div>
        <div th:replace="fragment.html :: carousel" >
        </div>
        <br>
        <div class="row-fluid" style=" width: 80%; padding:0 10%;">
            <div th:replace="fragment.html :: listaOpciones(opcion='inicio')"></div>
            <div class="span2">
                <img th:src="@{/img/wiiu.jpg}" class="span2">
            </div>
            <div class="span2">
                <img th:src="@{/img/mario.jpg}" class="span2">
            </div>
            <div class="span2">
                <img th:src="@{/img/ps3new.jpg}"  class="span2">
            </div>
            <div class="span2">
                <img th:src="@{/img/xbox.jpg}" class="span2">
            </div>
            <div class="span2">
                <img th:src="@{/img/hongo.jpg}"  class="span2">
            </div>
        </div>
        <div class="container"  style="padding-top: 50px;"><hr>
            <footer class="footer">
                <p style="text-align: center;">
                    &copy; 2012 Software para Telecomunicaciones 2 - Pontificia Universidad Católica del Perú<br>
                    Comentarios y/o sugerencias: <a href="mailto:jbarturen@pucp.pe">jbarturen@pucp.pe</a></p>

            </footer></div>
    </body>
</html>