<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragment.html :: cabecera"> </head>
    <body>
        <div th:replace="fragment.html :: navbar"></div>
        <div th:replace="fragment.html :: carousel" >
        </div>
        <br>
        <div class="row-fluid" style=" width: 80%; padding:0 10%;">
            <div th:replace="fragment.html :: listaOpciones(opcion='tienda')"></div>
            <div class="span10">
                <div class="well form-horizontal-search">
                    <form class="form-horizontal" action="<%=request.getContextPath()%>/ServletJuego?action=gamestore" method="post">
                        <div class="control-group">
                            <label class="control-label">Nombre</label>
                            <div class="controls">
                                <input class="span4" type="text" name="nombre" value="" placeholder="Type something…">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Género</label>
                            <div class="controls">
                                <select name="idgenero">
                                    <option value="0">Todos</option>

                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Plataforma</label>
                            <div class="controls">
                                <select name="idplataforma">
                                    <option value="0">Todos</option>

                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input class="btn btn-info" type="submit" value="Buscar"/>
                            </div>
                        </div>
                    </form>
                </div>



                <form class="form-horizontal" action="<%=request.getContextPath()%>/ServletJuego?action=buy" method="post">
                    <table class="items table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Genero</th>
                                <th>Plataforma</th>
                                <th>Editora</th>
                                <th>Distribuidora</th>
                                <th class="button-column">
                                    <a th:href="@{/user/comprar}"> Ir a Comprar <span class="badge badge-info" th:text="${session.juegosCarritoDeCompras.size()}"></span></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="juego : ${listaJuegos}">
                                <th th:text="${juego.nombre}"></th>
                                <th th:text="${juego.descripcion}"></th>
                                <th th:text="${juego.precio}"></th>
                                <th th:text="${juego.getGenero().nombre}"></th>
                                <th th:text="${juego.getPlataforma().nombre}"></th>
                                <th th:text="${juego.getEditor().nombre}"></th>
                                <th th:text="${juego.getDistribuidora().nombre}"></th>
                                <td>
                                    <a class="update" title="Select" th:href="@{'/user/anadirCarrito?id=' + ${juego.idjuego} }"> Añadir <i class="icon-shopping-cart"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="container"  style="padding-top: 50px;"><hr>
            <footer class="footer">
                <p style="text-align: center;">
                    &copy; 2012 Software para Telecomunicaciones 2 - Pontificia Universidad Católica del Perú<br>
                    Comentarios y/o sugerencias: <a href="mailto:jbarturen@pucp.pe">jbarturen@pucp.pe</a></p>

            </footer></div>
    </body>
</html>

