<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="cabecera">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>GameShop 2!!!</title>
        <link rel="shortcut icon" th:href="@{/img/store_icon.png}" href="img/store_icon.png">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="css/bootstrap.css">
        <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}" src="js/jquery-1.7.2.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top" style="position: relative" th:fragment="navbar">
            <div class="navbar-inner">
                <div class="container" style="width: auto; padding: 0 20px;">
                    <ul class="nav">
                        <li class="active"><a
                                th:text="|${session.usuario.nombres} ${session.usuario.apellidos} (${session.usuario.correo})|"
                                href="#"></a></li>
                    </ul>
                    <form method="post" th:action="@{/logout}">
                        <button type="submit" class="btn pull-right">Cerrar Sessión</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:fragment="carousel">
            <div class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <header class="unit hero-unit">
                            <h1>GameShop 2!!!</h1><br>
                            <p>P&aacute;gina de Inicio</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div th:fragment="listaOpciones(opcion)" class="span2">
            <ul class="nav nav-list well">
                <li th:classappend="${#strings.equals(opcion,'inicio')} ? 'active':''"><a th:href="@{/user}"
                                                                                          href="<%=request.getContextPath()%>/view/user"><i
                        class="icon-home"></i> Inicio</a></li>
                <li th:classappend="${#strings.equals(opcion,'juegos')} ? 'active':''"><a th:href="@{/user/misjuegos}"
                                                                                          href="<%=request.getContextPath()%>/ServletJuego?action=viewall"><i
                        class="icon-chevron-right"></i> Mis Juegos</a></li>
                <li th:classappend="${#strings.equals(opcion,'tienda')} ? 'active':''"><a th:href="@{/user/tienda}"
                                                                                          href="<%=request.getContextPath()%>/ServletJuego?action=gamestore"><i
                        class="icon-chevron-right"></i> Tienda</a></li>
            </ul>
        </div>
    </body>
</html>